In [8]:
import pandas as pd  # keywords are highlighted in green, other strings in red, etc.
import numpy as np
import statistics as stats

In [9]:
file = pd.read_csv('fifa21_train.csv')

## Data Cleaning

In [10]:
def split_str(categoricals):   
    for column in categoricals:
        if [categoricals[column].isin(['+-'])]:
            categoricals[column] = categoricals[column].str.split('+').str[0]
        elif [(categoricals[column].isin(['-']))]:
            categoricals[column] = categoricals[column].str.split('-').str[0]
        else: 
            categoricals[column] = categoricals[column].str.split('+').str[0]

In [11]:
def remove_char(categoricals):
    specialchars = ['€','★',"lbs"]
    for char in specialchars:
        for column in categoricals:
            categoricals[column] = categoricals[column].replace(specialchars,'', regex=True)
    return categoricals

In [12]:
def height_to_cm(categoricals):
    H_feet = categoricals['Height'].str.split("'").str[0]
    H_inch = categoricals['Height'].str.split("'").str[1].str.split("\"").str[0]
    categoricals['Height'] = (H_feet.astype(float) * 12) + H_inch.astype(float)
    return categoricals

In [13]:
def K_M_multiply(categoricals):
    categoricals['Release_Clause'] = categoricals['Release_Clause'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
    categoricals['Wage'] = categoricals['Wage'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
    categoricals['Value'] = categoricals['Value'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
    categoricals['Hits'] = categoricals['Hits'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)

In [14]:
def object_to_num(categoricals):
    col_to_numercic = ['Weight', 'Value', 'Wage', 'Release_Clause', 'W/F', 'SM', 'IR', 'Hits', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK']
    for i in range(len(col_to_numercic)):
        categoricals[col_to_numercic[i]] =  pd.to_numeric(categoricals[col_to_numercic[i]])
    return categoricals

In [19]:
def data_clear(file):
    file.columns = list(map(lambda x: x.replace(" ","_"), file.columns))
    file=file.drop(['Club', 'BP','ID', 'Name', 'Nationality', 'Joined','Contract', 'Team_&_Contract', 'Loan_Date_End', 'Position'], axis=1 )
    file=file.dropna()
    file = file.drop_duplicates()
    numerical = file._get_numeric_data()
    categoricals = file.select_dtypes(['object'])
    split_str(categoricals)
    remove_char(categoricals)
    K_M_multiply(categoricals)
    height_to_cm(categoricals)
    object_to_num(categoricals)
    print(categoricals)
    cleaned_data = pd.concat([numerical, categoricals], axis=1)
    
    return cleaned_data

In [20]:
cleaned_data = data_clear(file)

C:\Users\franc\AppData\Local\Temp/ipykernel_10988/2535359441.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals[column] = categoricals[column].str.split('+').str[0]
C:\Users\franc\AppData\Local\Temp/ipykernel_10988/1681015626.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals[column] = categoricals[column].replace(specialchars,'', regex=True)
C:\Users\franc\AppData\Local\Temp/ipykernel_10988/3705313125.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals['Release_Clause'] = categoricals['Release_Clause'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
C:\Users\franc\AppData\Local\Temp/ipykernel_10988/3705313125.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categoricals['Wage'] = categoricals['Wage'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)

       Height  Weight   foot      Value     Wage  Release_Clause  W/F  SM  \
0        69.0     161  Right   525000.0   4000.0        801000.0    4   2
1        72.0     159  Right  8500000.0  23000.0             0.0    3   4
2        64.0     134  Right  9000000.0  49000.0      15300000.0    4   4
3        70.0     152  Right   275000.0   4000.0        694000.0    2   2
4        71.0     150  Right   725000.0   2000.0       1400000.0    2   3
...       ...     ...    ...        ...      ...             ...  ...  ..
11695    67.0     154  Right   550000.0    500.0       1200000.0    3   3
11696    73.0     168   Left   625000.0   3000.0        891000.0    3   2
11697    73.0     174  Right  1600000.0   4000.0       2900000.0    2   1
11698    66.0     143  Right  1100000.0   2000.0       1700000.0    3   3
11700    67.0     143   Left   700000.0   2000.0       1200000.0    3   3

          A/W     D/W  ...  LDM  CDM  RDM  RWB  LB  LCB  CB  RCB  RB  GK
0        High  Medium  ...   59   59   59   59  58   54  54   54  58  15
1        High     Low  ...   53   53   53   57  53   48  48   48  53  18
2        High  Medium  ...   56   56   56   59  53   41  41   41  53  12
3      Medium  Medium  ...   58   58   58   56  57   58  58   58  57  14
4         Low  Medium  ...   64   64   64   64  63   61  61   61  63  15
...       ...     ...  ...  ...  ...  ...  ...  ..  ...  ..  ...  ..  ..
11695    High     Low  ...   45   45   45   46  44   43  43   43  44  19
11696  Medium  Medium  ...   60   60   60   63  63   61  61   61  63  16
11697  Medium  Medium  ...   26   26   26   25  24   26  26   26  24  69
11698    High  Medium  ...   44   44   44   49  45   35  35   35  45  17
11700    High     Low  ...   43   43   43   46  44   36  36   36  44  15

[11422 rows x 39 columns]

In [18]:
cleaned_data.head()

,Age,Growth,Attacking,Crossing,Finishing,Heading_Accuracy,Short_Passing,Volleys,Skill,Dribbling,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,26,1,258,54,47,43,70,44.0,286,61,...,59,59,59,59,58,54,54,54,58,15
1,30,0,365,66,79,76,68,76.0,375,83,...,53,53,53,57,53,48,48,48,53,18
2,33,0,336,73,76,34,78,75.0,424,85,...,56,56,56,59,53,41,41,41,53,12
3,22,13,242,44,42,58,62,36.0,259,54,...,58,58,58,56,57,58,58,58,57,14
4,23,8,249,49,37,61,68,34.0,280,64,...,64,64,64,64,63,61,61,61,63,15

In [21]:
numerical = cleaned_data._get_numeric_data()
categoricals= cleaned_data.select_dtypes(['object'])

    foot     A/W     D/W
0  Right    High  Medium
1  Right    High     Low
2  Right    High  Medium
3  Right  Medium  Medium
4  Right     Low  Medium

## Data Encoding and Normalization

In [ ]:
def encoding(cleaned_data):
    from sklearn.preprocessing import OneHotEncoder
    categoricals = cleaned_data.select_dtypes(['object'])
    encoder = OneHotEncoder().fit(categoricals)
    encoded_for_p = encoder.transform(categoricals).toarray()
    encoded_for_p
    encoder.categories_

    cols=[colname for row in encoder.categories_ for colname in row]
    cols
    onehot_encoded_for_p = pd.DataFrame(encoded_for_p,columns=cols)
    cols_to_drop=[row[0] for row in encoder.categories_]
    cols_to_drop
    onehot_encoded_for_p = onehot_encoded_for_p.drop(cols_to_drop,axis=1)
    onehot_encoded_for_p

In [299]:
def normalizing(cleaned_data):
    from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
    from sklearn.preprocessing import StandardScaler
    numerical = cleaned_data._get_numeric_data()
    transformer = MinMaxScaler().fit(numerical)
    x_normalized = transformer.transform(numerical)
    print(numerical_normalized.shape)
    x_normalized=pd.DataFrame(x_normalized, columns=X.columns)
    x_normalized

## Defining X,y

In [297]:
y = numerical_2['OVA']
X = numerical_2.drop(['OVA'],axis=1)

       Right  Low  Medium  Low  Medium
0        1.0  0.0     0.0  0.0     1.0
1        1.0  0.0     0.0  1.0     0.0
2        1.0  0.0     0.0  0.0     1.0
3        1.0  0.0     1.0  0.0     1.0
4        1.0  1.0     0.0  0.0     1.0
...      ...  ...     ...  ...     ...
11417    1.0  0.0     0.0  1.0     0.0
11418    0.0  0.0     1.0  0.0     1.0
11419    1.0  0.0     1.0  0.0     1.0
11420    1.0  0.0     0.0  0.0     1.0
11421    0.0  0.0     0.0  1.0     0.0

[11422 rows x 5 columns]

(11422, 87)

,Age,Growth,Attacking,Crossing,Finishing,Heading_Accuracy,Short_Passing,Volleys,Skill,Dribbling,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,0.370370,0.038462,0.546835,0.545455,0.478261,0.431818,0.710843,0.465116,0.569087,0.615385,...,0.614286,0.614286,0.614286,0.642857,0.637681,0.527778,0.527778,0.527778,0.637681,0.075949
1,0.518519,0.000000,0.817722,0.681818,0.826087,0.806818,0.686747,0.837209,0.777518,0.857143,...,0.528571,0.528571,0.528571,0.614286,0.565217,0.444444,0.444444,0.444444,0.565217,0.113924
2,0.629630,0.000000,0.744304,0.761364,0.793478,0.329545,0.807229,0.825581,0.892272,0.879121,...,0.571429,0.571429,0.571429,0.642857,0.565217,0.347222,0.347222,0.347222,0.565217,0.037975
3,0.222222,0.500000,0.506329,0.431818,0.423913,0.602273,0.614458,0.372093,0.505855,0.538462,...,0.600000,0.600000,0.600000,0.600000,0.623188,0.583333,0.583333,0.583333,0.623188,0.063291
4,0.259259,0.307692,0.524051,0.488636,0.369565,0.636364,0.686747,0.348837,0.555035,0.648352,...,0.685714,0.685714,0.685714,0.714286,0.710145,0.625000,0.625000,0.625000,0.710145,0.075949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11417,0.481481,0.000000,0.627848,0.340909,0.750000,0.681818,0.554217,0.651163,0.562061,0.626374,...,0.414286,0.414286,0.414286,0.457143,0.434783,0.375000,0.375000,0.375000,0.434783,0.126582
11418,0.333333,0.192308,0.460759,0.636364,0.228261,0.522727,0.578313,0.279070,0.480094,0.571429,...,0.628571,0.628571,0.628571,0.700000,0.710145,0.625000,0.625000,0.625000,0.710145,0.088608
11419,0.407407,0.153846,0.106329,0.068182,0.119565,0.090909,0.216867,0.139535,0.124122,0.131868,...,0.142857,0.142857,0.142857,0.157143,0.144928,0.138889,0.138889,0.138889,0.144928,0.759494
11420,0.222222,0.307692,0.617722,0.659091,0.684783,0.522727,0.638554,0.430233,0.580796,0.725275,...,0.400000,0.400000,0.400000,0.500000,0.449275,0.263889,0.263889,0.263889,0.449275,0.101266
11421,0.222222,0.346154,0.625316,0.420455,0.663043,0.681818,0.638554,0.569767,0.524590,0.648352,...,0.385714,0.385714,0.385714,0.457143,0.434783,0.277778,0.277778,0.277778,0.434783,0.075949

In [ ]:
X_concat = pd.concat([x_normalized, onehot_encoded_for_p], axis=1)

In [ ]:
# train test split is the way ML generates its claim to fame: 
# we build the model on a portion of the data but we then validate it in 
# another "fresh" portion
# our model has no opportunity to "cheat": it must accurately guess the values 
# in the "fresh" dataset that it never saw before
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_concat, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn import linear_model
#we train/fit our model like yesterday
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

In [ ]:
from sklearn.metrics import r2_score
predictions = lm.predict(X_train)
r2_score(y_train, predictions)

In [ ]:
# But now we evaluate it in the TEST portion of the data, that we did not use for training.
# This way we know our model is genuinely guessing our donations, not just repeating the values it has seen in the training data

predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)

In [ ]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_test,predictions_test))

In [ ]:
mse=mean_squared_error(y_test,predictions_test)
mse

In [ ]:
#predict and inspect results
results_for_p = lm.predict(X_concat)

pd.concat([file,pd.Series(results_for_p)],axis=1).head()
#dont retrain transformers

In [ ]:
y.describe().T

## VALIDATION

In [ ]:
file = pd.read_csv('fifa21_validate.csv')
file.shape

In [ ]:
file.columns = list(map(lambda x: x.replace(" ","_"), file.columns))
file.head()

In [ ]:
file=file.drop(['ID', 'Name', 'Nationality', 'Joined','Contract', 'Team_&_Contract', 'Loan_Date_End', 'Position'], axis=1 )
file=file.dropna()
file = file.drop_duplicates()

In [ ]:
numerical = file._get_numeric_data()
categoricals= file.select_dtypes(['object'])

In [ ]:
split()

In [ ]:
remove_char(categoricals)

In [ ]:
categoricals['Release_Clause'] = categoricals['Release_Clause'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
categoricals['Wage'] = categoricals['Wage'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
categoricals['Value'] = categoricals['Value'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)
categoricals['Hits'] = categoricals['Hits'].replace({'€': '', 'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(float)

In [ ]:
H_feet = categoricals['Height'].str.split("'").str[0]
H_inch = categoricals['Height'].str.split("'").str[1].str.split("\"").str[0]

categoricals['Height'] = (H_feet.astype(float) * 12) + H_inch.astype(float)

In [ ]:
col_to_numercic = ['Weight', 'Value', 'Wage', 'Release_Clause', 'W/F', 'SM', 'IR', 'Hits', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK']

for i in range(len(col_to_numercic)):
    categoricals[col_to_numercic[i]] =  pd.to_numeric(categoricals[col_to_numercic[i]])
#categoricals[col_to_numercic[i]] = [col_to_numercic[i]].map(pd.eval).astype(float)

In [ ]:
file_2 = pd.concat([numerical, categoricals], axis=1)
numerical_2 = file_2._get_numeric_data()
categoricals_2= file_2.select_dtypes(['object'])
y = numerical_2['OVA']
X = numerical_2.drop(['OVA'],axis=1)

In [ ]:
categoricals_2 = categoricals_2.drop(['Club', 'BP'], axis=1)
categoricals_2.head(5)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder().fit(categoricals_2)
encoded_for_p = encoder.transform(categoricals_2).toarray()
encoded_for_p
encoder.categories_

cols=[colname for row in encoder.categories_ for colname in row]
cols
onehot_encoded_for_p = pd.DataFrame(encoded_for_p,columns=cols)
cols_to_drop=[row[0] for row in encoder.categories_]
cols_to_drop
onehot_encoded_for_p = onehot_encoded_for_p.drop(cols_to_drop,axis=1)
onehot_encoded_for_p

In [ ]:
from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
from sklearn.preprocessing import StandardScaler

# Normalizing data: make data range from 0 - 1, instead of from min to max
transformer = MinMaxScaler().fit(X)
x_normalized = transformer.transform(X)
print(x_normalized.shape)
x_normalized=pd.DataFrame(x_normalized, columns=X.columns)
x_normalized

In [ ]:
X_concat = pd.concat([x_normalized, onehot_encoded_for_p], axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_concat, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn import linear_model
#we train/fit our model like yesterday
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

In [ ]:
from sklearn.metrics import r2_score
predictions = lm.predict(X_train)
r2_score(y_train, predictions)

In [ ]:
predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)

In [ ]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_test,predictions_test))

In [ ]:
mse=mean_squared_error(y_test,predictions_test)
mse

In [ ]:
#predict and inspect results
results_for_p = lm.predict(X_concat)

pd.concat([file,pd.Series(results_for_p)],axis=1).head()
#dont retrain transformers